/.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
!public/uploads/domaine/.gitkeep
!public/uploads/station/.gitkeep
!public/uploads/blog/.gitkeep
!public/uploads/event/.gitkeep
!public/uploads/info/.gitkeep