/.idea
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
public/uploads/domaine
!public/uploads/domaine/.gitkeep
public/uploads/station
!public/uploads/station/.gitkeep
public/uploads/blog
!public/uploads/blog/.gitkeep
public/uploads/event
!public/uploads/event/.gitkeep
public/uploads/info
!public/uploads/info/.gitkeep