* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: 'Poppins', sans-serif;
}

.infos_nav {
    width: 100%;
    height: 25em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-image: url(https://cdn.france-montagnes.com/sites/default/files/styles/header_webzine/public/header/sarenne_laurent-salino-29.jpg?itok=SRTii6iF);
    background-size: cover;
    flex-direction: column;
    align-content: flex-start;

    padding-top: 2em;
    padding-bottom: 2em;

    margin-bottom: 5em;
}

.infos_nav nav {
    display: flex;
    justify-content: space-between;
}

.infos_nav h3 {
    margin-left: 1em;
    font-size: 60px;
    color: #0f2161;
}

.infos_nav nav div {
    width: 35vh;
    display: flex;
    justify-content: space-around;
}

.infos_nav img {
    flex-shrink: 0;
    min-width: 100%;
}

.info_info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.info_info img {
    width: 45%;
}
.info_info li {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.info_info:nth-child(even) li {
    order: 1;
}
.info_info:nth-child(even) img {
    order: 2;
}