<header class="header">

    <a href="#" class="logo"> Logo <span class="title-text"></span> </a>

    <nav class="navbar">
        <a href="/"><button class="btn"> Accueil </button></a>
        <a href="/domaine"><button class="btn"> Domaine </button></a>
        <a href="/event"><button class="btn"> Event </button></a>
        <a href="/infos"><button class="btn"> Infos </button></a>
        <a href="/blog"><button class="btn"> Blog </button></a>
    </nav>

</header>